<div class="custom-radios">
  <div>
    <input
      type="radio"
      name="color"
      id="color-1"
      value="#2ecc71"
      (change)="changeColor($event)"
      [checked]="clr == '#2ecc71'"
    />
    <label for="color-1"
      ><span
        ><img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
          alt="Checked Icon" /></span
    ></label>
  </div>
  <div>
    <input
      type="radio"
      name="color"
      id="color-2"
      value="#0088a9"
      (change)="changeColor($event)"
      [checked]="clr == '#0088a9'"
    />
    <label for="color-2"
      ><span
        ><img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
          alt="Checked Icon" /></span
    ></label>
  </div>
  <div>
    <input
      type="radio"
      name="color"
      id="color-3"
      value="#f1c40f"
      (change)="changeColor($event)"
      [checked]="clr == '#f1c40f'"
    />
    <label for="color-3"
      ><span
        ><img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
          alt="Checked Icon" /></span
    ></label>
  </div>
  <div>
    <input
      type="radio"
      name="color"
      id="color-4"
      value="#e74c3c"
      (change)="changeColor($event)"
      [checked]="clr == '#e74c3c'"
    />
    <label for="color-4"
      ><span
        ><img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
          alt="Checked Icon" /></span
    ></label>
  </div>
</div>
