<nav
  class="sidenav"
  [ngClass]="collapsed ? 'sidenav-collapsed' : ''"
  [ngStyle]="{ 'background-color': primaryColor }"
>
  <div class="logo-container">
    <button
      class="logo"
      (click)="toggleCollapse()"
      [ngStyle]="{ color: primaryColor }"
    >
      MD
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">MyDashboard</div>
    <button
      class="btn-close"
      @rotate
      *ngIf="collapsed"
      (click)="closeSidenav()"
    >
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <!-- router links -->
  <ul class="nav-links">
    <!-- standard links -->
    <li class="nav-item" *ngFor="let data of navData">
      <a
        class="nav-link"
        [routerLink]="[data.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="link-icon" [class]="data.icon"></i>
        <span class="link-text" @fadeInOut *ngIf="collapsed">{{
          data.label
        }}</span>
      </a>
    </li>

    <!-- opens the layout -->
    <li class="nav-item last">
      <a class="nav-link" (click)="showOverlay()">
        <i class="link-icon fas fa-image"></i>
        <span class="link-text" @fadeInOut *ngIf="collapsed">Overlay</span>
      </a>
    </li>
  </ul>
</nav>
