.container {
  position: relative;
  padding: 20px;

  .playPauseButtonContainer {
    padding: 0 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    button {
      z-index: 999;
      background: transparent;
      border: none;
      outline: none;
      i {
        color: rgba(0, 204, 255, 0.76);
        cursor: pointer;
        transform: scale(1.15);
        transition: 0.3s;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }

  .visualizer {
    opacity: 0.35;
    transition: opacity 1s;

    #canvas {
      border-radius: 10px;
      width: 100%;
      height: 300px;
    }

    &.hide {
      opacity: 0;
    }
  }
}
