.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  // align-items: center;
  padding: 20px;
  height: 100%;
  z-index: 100;
  button {
    height: fit-content;
    background: transparent;
    border: none;
    color: white;

    i {
      color: #00ccff;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .visualizer {
    z-index: 99;
    background: blue;

    #canvas {
      width: 100%;
      height: 100%;
      background: green;
    }
  }
}
