.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 999;

  background-color: #222;
  cursor: pointer;
  transition: top 0.8s ease-out;

  &.collapsed {
    top: -100%;
  }
}
