<div class="overlay" [ngClass]="collapsed ? '' : 'collapsed'" (click)="slide()">
  <video
    loop
    autoplay
    oncanplay="this.play()"
    muted
    onloadedmetadata="this.muted = true"
  >
    <source src="../../../assets/overlay-background.mp4" />
  </video>
  <div class="overlay-filter"></div>

  <div class="content">
    <!-- weather -->
    <div class="flex-wrapper forecast">
      <app-weather></app-weather>
    </div>

    <!-- music player -->
    <div class="flex-wrapper music-player">
      <app-music-player></app-music-player>
    </div>

    <!-- <div class="visualizer">
      <app-visualizer></app-visualizer>
    </div> -->
  </div>
</div>
<!-- temp overlay -->
